.my-dream-page {
  position: relative;
}

.my-dream-page .top-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  padding: 0 50px;
  padding-top: 70px;
}

.my-dream-page .top-line .h1 {
  color: #FF007A;
  font-weight: 600;
  font-size: 48px;
}

.my-dream-page .top-line span {
  cursor: pointer;
  background: #FF007A;
  -webkit-box-shadow: 0px 4px 16px #FF007A;
          box-shadow: 0px 4px 16px #FF007A;
  border-radius: 25px;
  display: inline-block;
  color: #fff;
  padding: 17px 36px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.my-dream-page .top-line span:hover {
  background: rgba(255, 0, 122, 0.7);
}

.my-dream-page .item-container {
  padding: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.my-dream-page .item-container a {
  text-decoration: none;
  color: #000;
}

.my-dream-page .item-container .item-dream {
  background: #FFE2F0;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  padding-bottom: 34px;
  border-radius: 15px;
}

.my-dream-page .item-container .item-dream:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.my-dream-page .item-container .item-dream .name-child {
  padding: 0 23px;
}

.my-dream-page .item-container .item-dream .name-child .h3 {
  text-align: center;
  color: #FF007A;
  font-weight: 500;
  position: relative;
  padding-bottom: 13px;
}

.my-dream-page .item-container .item-dream .name-child .h3::after {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 43, 145, 0)), color-stop(54.17%, rgba(255, 43, 145, 0.6)), to(rgba(255, 43, 145, 0)));
  background: linear-gradient(90deg, rgba(255, 43, 145, 0) 0%, rgba(255, 43, 145, 0.6) 54.17%, rgba(255, 43, 145, 0) 100%);
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
}

.my-dream-page .item-container .item-dream .name-dream {
  padding: 0 23px;
}

.my-dream-page .item-container .item-dream .name-dream p {
  font-weight: 500;
  font-size: 22px;
}

.my-dream-page .item-container .item-dream .image-wrapper img {
  width: 100%;
}

.my-dream-page .item-container .item-dream .need-balance {
  text-align: center;
  padding: 15px 0;
}

.my-dream-page .item-container .item-dream .need-balance p {
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
  background: #FF007A;
  display: inline-block;
  text-align: center;
  color: #fff;
  padding: 10px 15px;
  font-weight: 500;
  font-size: 14px;
}

.pop-up-dream .pop-wrapper-add-dream {
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  width: 70%;
  border-radius: 10px;
  padding: 20px 40px;
  overflow-y: scroll;
}

.pop-up-dream .pop-wrapper-add-dream .top-line {
  margin-bottom: 30px;
}

.pop-up-dream .pop-wrapper-add-dream .top-line .h2 {
  color: #FF007A;
  font-weight: 500;
}

.pop-up-dream .pop-wrapper-add-dream .err-wrapper p {
  color: #FF007A;
  font-weight: bold;
  -webkit-animation: err-fade .5s ease-in-out forwards;
          animation: err-fade .5s ease-in-out forwards;
}

.pop-up-dream .pop-wrapper-add-dream .input-wrapper {
  margin-bottom: 10px;
}

.pop-up-dream .pop-wrapper-add-dream .input-wrapper input {
  display: inline-block;
  border: 1px solid #FF007A;
  border-radius: 33px;
  font-size: 18px;
  padding: 10px 10px;
  width: 450px;
}

.pop-up-dream .pop-wrapper-add-dream .input-wrapper textarea {
  display: inline-block;
  border: 1px solid #FF007A;
  border-radius: 33px;
  font-size: 18px;
  padding: 10px 10px;
  width: 450px;
  resize: none;
}

.pop-up-dream .pop-wrapper-add-dream button {
  cursor: pointer;
  background: #FF007A;
  -webkit-box-shadow: 0px 4px 16px #FF007A;
          box-shadow: 0px 4px 16px #FF007A;
  border-radius: 10px;
  display: inline-block;
  color: #fff;
  padding: 17px 36px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  outline: none;
  border: none;
}

.pop-up-dream .pop-wrapper-add-dream button:hover {
  background: rgba(255, 0, 122, 0.7);
}

@-webkit-keyframes err-fade {
  0% {
    opacity: 0;
    margin-bottom: -40px;
  }
  50% {
    opacity: 0;
    margin-bottom: 0px;
  }
  100% {
    opacity: 1;
    margin-bottom: 20px;
  }
}

@keyframes err-fade {
  0% {
    opacity: 0;
    margin-bottom: -40px;
  }
  50% {
    opacity: 0;
    margin-bottom: 0px;
  }
  100% {
    opacity: 1;
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=mydream.css.map */