.dreamer-cabinet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 90px;
}

.dreamer-cabinet .top-line {
  text-align: center;
  padding: 40px 12px;
}

.dreamer-cabinet .top-line .h1 {
  font-size: 24px;
  font-weight: 700;
  color: #FF007A;
}

.dreamer-cabinet .image-avatar-wrapper img {
  border-radius: 50%;
}

.dreamer-cabinet .name-wrapper .h2 {
  font-weight: 500;
  font-size: 48px;
  margin-bottom: 45px;
}

.dreamer-cabinet .procent-dreamer p {
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #FF007A;
}

.dreamer-cabinet .procent-dreamer p span {
  color: #000;
  display: inline-block;
  border: 10px solid #FF007A;
  border-radius: 50%;
  padding: 20px 10px;
}

.dreamer-cabinet .btn-wrapper-main a {
  display: inline-block;
  padding: 12px 35px;
  background: #FF007A;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 15px;
  -webkit-box-shadow: 0px 4px 16px #FF007A;
          box-shadow: 0px 4px 16px #FF007A;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  text-decoration: none;
}

.dreamer-cabinet .btn-wrapper-main a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.investor-cabinet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 90px;
}

.investor-cabinet .top-line {
  text-align: center;
  padding: 40px 0;
  position: relative;
  width: 100%;
}

.investor-cabinet .top-line .log-out-wrapper {
  position: absolute;
  top: 32%;
  right: 10%;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.investor-cabinet .top-line .log-out-wrapper:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.investor-cabinet .top-line .log-out-wrapper img {
  width: 100%;
}

.investor-cabinet .top-line .h1 {
  font-size: 24px;
  font-weight: 700;
  color: #FF007A;
}

.investor-cabinet .image-avatar-wrapper img {
  border-radius: 50%;
}

.investor-cabinet .name-wrapper .h2 {
  font-weight: 500;
  font-size: 48px;
  margin-bottom: 45px;
}

.investor-cabinet .balance-dreamer p {
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #FF007A;
}

.investor-cabinet .balance-dreamer p span {
  color: #000;
  display: inline-block;
  padding: 20px 10px;
}

.investor-cabinet .btn-wrapper-main span {
  display: inline-block;
  padding: 12px 35px;
  background: #FF007A;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 15px;
  -webkit-box-shadow: 0px 4px 16px #FF007A;
          box-shadow: 0px 4px 16px #FF007A;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  text-decoration: none;
}

.investor-cabinet .btn-wrapper-main span:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
/*# sourceMappingURL=cabinet.css.map */